*,
*::before,
*::after {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 62.5%;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  background: url(assets/img/img-1.jpg) center no-repeat;
  background-size: cover;
}
.form-wrapper {
  width: 85%;
  background: transparent;
  font-size: 1rem;
  backdrop-filter: blur(30px);
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 1rem;
  color: white;
  padding: 1.5rem 1rem;
}
.form-wrapper h1 {
  font-size: 2rem;
  text-align: center;
}
.input_container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
}
.input_container input {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  width: 95%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0.8rem 0.5rem;
}
.input_container input::placeholder {
  color: rgba(255, 255, 255, 0.699);
}
.input_container:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.507);
}
.input_container i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
}
.form-options {
  display: flex;
  justify-content: space-between;
}
.form-options input {
  margin-right: 0.2rem;
  accent-color: white;
}
button {
  width: 100%;
  border: none;
  border-radius: 2rem;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 1rem;
}
button:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
.register {
  display: flex;
  justify-content: center;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
a:hover {
    color: rgba(255, 102, 0, 0.5);;
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    width: 40rem;
  }
}


